<div class="container text-center">
    <div class="card mb-3" style="max-width: px;">
      <h2>About us</h2>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i.pinimg.com/564x/e5/78/a7/e578a7611b9b57ec9dc7e26936fd1250.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text" style="position:relative;top: 80px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptates consequatur harum nostrum minus magnam, velit dolores odio debitis perferendis eligendi quod. Amet eos minus vitae tenetur ipsa, saepe laudantium?</p>
            </div>
          </div>
        </div>
      </div>
    <br><br>
      <div class="card mb-3" style="max-width: px;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text" style="position:relative;top: 80px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui reiciendis molestias unde, optio architecto necessitatibus magni tempora nostrum repellat adipisci commodi, est eum perspiciatis aliquam repellendus quidem earum provident expedita!.</p>
            </div>
          </div>
    
          <div class="col-md-4">
            <img src="https://i.pinimg.com/236x/fe/d1/f0/fed1f063f173cfa1e30a364b7c54032c.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        </div>
      </div>
    </div>
