#nav_top {
    background-color:orangered;
    border-bottom: 1px solid #e5e5e5;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    position: relative;
    z-index: 9999;
}
#logo {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}